<section class="wrap wrap-content">
    <section id="info">
        <!--Inicio Banner-->
        <div id="banner">
            <h1>DESRROLLADO CON AGULAR</h1>
        </div>
        <!--Fin Banner-->

        <div id="cards">
            <div class="card">
                <!--<p class="icon">H</p>-->
                <p class="category">Angular</p>
                <p class="description">
                    Es un framework opensource desarrollado por Google para facilitar la creación y programación de aplicaciones web de una sola página.
                </p>
            </div>
            <div class="card">
                <!--<p class="icon">_</p>-->
                <p class="category">CSS</p>
                <p class="description">
                    La hoja de estilo en cascada o CSS es un lenguaje usado para definir la presentación de un documento estructurado escrito en HTML
                </p>
            </div>
            <div class="card">
                <!--<p class="icon">S</p>-->
                <p class="category">Node.js</p>
                <p class="description">
                    Entorno de tiempo de ejecución de JavaScript
                </p>
            </div>
            <div class="card">
                <!--<p class="icon">u</p>-->
                <p class="category">TypeScript</p>
                <p class="description">
                    Lenguaje de programación libre y de código abierto desarrollado y mantenido por Microsoft.
                </p>
            </div>
        </div>
    </section>

    <div class="clearfix"></div>
