<section id="articles">
    <h2>Últimos artículos</h2>
    <div class="clearfix"></div>
    <article>
        <div class="data">
            <span>Fecha 28/10/2021</span>
            <span>Categoría: Pruebas</span>
        </div>
        <h4>
            <a href="#">Titulo del articulo</a>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam numquam illo facilis laborum,
                qui beatae ut deserunt sunt quam placeat distinctio doloremque. Aliquam deleniti dolorem,
                dignissimos quisquam maxime assumenda consequuntur!
            </p>

        </h4>
    </article>

    <article>
        <div class="data">
            <span>Fecha 28/10/2021</span>
            <span>Categoría: Pruebas</span>
        </div>
        <h4>
            <a href="#">Titulo del articulo</a>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam numquam illo facilis laborum,
                qui beatae ut deserunt sunt quam placeat distinctio doloremque. Aliquam deleniti dolorem,
                dignissimos quisquam maxime assumenda consequuntur!
            </p>

        </h4>
    </article>

    <article>
        <div class="data">
            <span>Fecha 28/10/2021</span>
            <span>Categoría: Pruebas</span>
        </div>
        <h4>
            <a href="#">Titulo del articulo</a>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam numquam illo facilis laborum,
                qui beatae ut deserunt sunt quam placeat distinctio doloremque. Aliquam deleniti dolorem,
                dignissimos quisquam maxime assumenda consequuntur!
            </p>

        </h4>
    </article>

    <article>
        <div class="data">
            <span>Fecha 5/10/2021</span>
            <span>Categoría: Pruebas</span>
        </div>
        <h4>
            <a href="#">Titulo del articulo</a>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam numquam illo facilis laborum,
                qui beatae ut deserunt sunt quam placeat distinctio doloremque. Aliquam deleniti dolorem,
                dignissimos quisquam maxime assumenda consequuntur!
            </p>

        </h4>
    </article>

    <article>
        <div class="data">
            <span>Fecha 5/10/2021</span>
            <span>Categoría: Pruebas</span>
        </div>
        <h4>
            <a href="#">Titulo del articulo</a>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam numquam illo facilis laborum,
                qui beatae ut deserunt sunt quam placeat distinctio doloremque. Aliquam deleniti dolorem,
                dignissimos quisquam maxime assumenda consequuntur!
            </p>

        </h4>
    </article>

    <article>
        <div class="data">
            <span>Fecha 5/10/2021</span>
            <span>Categoría: Pruebas</span>
        </div>
        <h4>
            <a href="#">Titulo del articulo</a>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam numquam illo facilis laborum,
                qui beatae ut deserunt sunt quam placeat distinctio doloremque. Aliquam deleniti dolorem,
                dignissimos quisquam maxime assumenda consequuntur!
            </p>

        </h4>
    </article>

    <article id="blog">
        <a href="#">Ir al blog</a>
    </article>

</section>
