.clearfix{
    float: none;
    clear: both;
}

#articles{
    width: 80%;
    margin: 0px auto;
    padding: 2px;
}

#articles h2{
    display: block;
    width: 100%;
    height: 75px;
    line-height: 75px;
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 2px;
    background: lightblue;
    box-shadow: 0px 1px 0px #393d3f, 1px 2px 0px #393d3f, 2px 3px 0px #393d3f, 3px 4px 0px #393d3f;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
}

#articles article{
    width: 95%;
    height: auto;
    border: 1px solid #ccc;
    margin: 40px auto;
    padding: 10px;
    background: white;
    color: black;
    box-shadow: 1px 1px 2px #ddd ;
}

#articles article h4{
    display: block;
    font-size: 23px;
    margin: 3px;
}

#articles article h4 a{
    text-decoration: none;
    color: #00538c;
}

#articles article h4 a:hover{
    text-decoration: underline;
}

#articles .data{
    float:right;
    background: #393d3f;
    color: white;
    height: 30px;
    line-height: 30px;
    margin: -10px;
    padding: 4px;
    font-size: 13px;
    border-radius: 0px 0px 0px 5px;
}

#articles .data span{
    margin: 6px;
}

#articles article p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

#blog{
    height: 100px;
    margin-top: 60px;
    line-height: 100px;
    text-align: center;
    transition: all 1s;
}

#blog a{
    font-size: 40px;
    letter-spacing: 3px;
    color: #00538c;
    text-decoration: none;
    transition: all 1s;    
}

#blog:hover{
    border: 10px solid #37bcf9;
    border-radius: 240px;
    box-shadow: 0px 0px 10px gray;
    animation: blink 10s infinite linear;
}

#blog:hover a{
    color: red;
}

@keyframes blink{
    0%{
        border: 10px solid #37bcf9;
    }
    25%{
        border: 10px solid green;
    }
    50%{
        border: 10px solid yellow;
    }
    75%{
        border: 10px solid white;
    }
    100%{
        border: 10px solid #37bcf9;
    }
}